@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color:lightgoldenrodyellow;">
    <h3>Free and secure messages to anyone, anywhere</h3>

    <p class="lead">Keep your conversations going no matter where you are.</p>
    <p><a href="http://localhost:57018/Home/Chat" class="btn btn-success btn-lg">Click here &raquo;</a></p>
</div>

<div class="row" style="background-color:lightcyan;">

    <div class="col-md-6 col-lg-3 feature">
        <img class="img-fluid" src="~/Pictures/carton.jpg" alt="Stickers &amp; GIFs" width="100" />

        <h4 class="bold">Stickers &amp; GIFs</h4>
        <p>Endless stickers and GIFs for every possible expression. Not enough? Create your own</p>
    </div>
    <div class="col-md-6 col-lg-3 feature" style="background-color:lightgreen;">
        <img class="img-fluid" src="~/Pictures/loading_ajax_gif.gif" width="130" />

        <h4 class="bold">Reminder Alert</h4>
        <p>You can easily set an alert to remind you to knock your friend</p>
    </div>

    <div class="col-md-6 col-lg-3 feature">
        <img class="img-fluid" src="~/Pictures/bird.jpg" width="100" />
        <h4 class="bold">Voice and video calls</h4>
        <p> High-quality calls for a quick “hello” or a much-needed face-to-face</p>
    </div>
</div>

